header {
  width: 100vw;
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 100px 0 20px 140px;
}

h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: grey;
}
h1 {
  font-size: 72px;
}

main {
  height: 550px;
  max-width: 550px;
}

main p {
  font-size: 22px;
  margin-top: 8px;
  word-spacing: 5px;
}

.button__container {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}
